<label>Server Name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" /> -->
<input type="text" class="form-control" [(ngModel)]="serverName" />
<!-- <p>{{ serverName }}</p> -->
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add Server
</button>
<p>{{ serverCreationStatus }}</p>
<!--<p [innerText]="allowNewServer"></p>-->
<input type="text" class="form-control" [(ngModel)]="username" />
<button
  class="btn btn-info"
  [disabled]="onUsernameCheck(username)"
  (click)="onCreateUsername()"
>
  Create username
</button>
<p>{{ usernameCreationStatus }}</p>
<app-server></app-server>
<app-server></app-server>
